# Credenciales y Secretos
.env
.env.local
.env.*.local
*.pem

# Dependencias
node_modules/
dist/
build/

# Datos Sensibles (Ebooks)
backend/data/*
!backend/data/.gitkeep

# Logs y Temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
error.log
combined.log

# IDEs
.vscode/
.idea/
